.card__title{
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin: 3px 0 0 21px;
  padding: 0;
  white-space: nowrap;
  width: 205px;
}