.popup__span{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin: 5px 36px 0 36px;
  min-height: 30px;
}



.popup__span:last-of-type {
    margin-bottom: 13px;
}

@media (max-width: 740px) {
  .popup__span{
    margin: 5px 22px 0 22px;
  }

  .popup__span:last-of-type {
    margin-bottom: 15px;
  }
}