.profile__name{
  padding: 0;
  margin: 22px 0 0 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 740px) {
  .profile__name{
    text-align: center;
    max-width: 200px;
    min-width: 189px;
    font-size: 27px;
    line-height: 33px;
    margin-top: 26px;
  }
}