.mobile-menu{
  height: 0;
  transition: height 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
  overflow: hidden;
}

@media (min-width: 741px) {
  .mobile-menu{
    display: none;
  }
}