.header{
  padding: 45px 0 41px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 1024px) {
  .header{
    padding: 45px 32px 41px 32px;
  }
}

@media (max-width: 740px) {
  .header{
    padding: 28px 0 31.6px 0;
    margin-bottom: 42px;
  }
}