.header__button{
  border: 0;
  background-color: transparent;
  color: white;
  margin: 0 ;
  padding: 0;
  color: rgba(169, 169, 169, 1);
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 740px) {
  .header__button{
    display: none;
  }
}